@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight"), local("Segoe UI");
}

#credit-card-form {
    padding: 15px;
    width: 550px;
    border: 2px solid #CFCFCF;
    height: 370px;
    border-radius: 20px;
    background-color: #F3F4F5;
    color: #546271;
    /*color: #B6BCC3;*/
}

label {
    display: block;
    color: #F04539;
    text-decoration: underline;
    visibility: hidden;
}


.icon {
    visibility: hidden;
}

b{
    font-size: 10px;
}

#visa {
    margin-left: 30px;
}

.expiry {
    width: 70px;
}

.inline-block {
    display: inline-block;
}

.year {
    margin-left: 42px;
}

#cvc {
    width: 70px;
    text-align: center;
}

.cvc {
    margin-left: 30px;
}

#pay-btn {
    margin-top: 5px;
}

#card-holder {
    text-transform: uppercase;
}